* {
    margin: 0;
}

body {
    background-color: #EDEFEE;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

header > img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.navbar {
    background-color: #495e57;
    margin: 0.5rem;
    border-radius: 20px;
}


.navbar a {
    float: left;
    padding: 0.5rem;
    color: white;
    font-size: 1.3rem;
    width: 25%;
  }

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    
}

section {
    display: flex;
}

.promotion, .sections {
    background-color: #f4cf1490;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 20px;
}

.promotion h1 {
    text-align: center;
}

article {
    flex: 1;
    margin: 0.7rem;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer > div > img {
    width: 2rem;
}

.copyright {
    text-align: right;
    border-top: solid;
}