@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* #EDEFEE; */
*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:"Poppins", sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

header {
    display: flex;
}

header > img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.navbar {
    background-color: #495e57;
    margin: 0.5rem;
    border-radius: 20px;
}


.navbar a {
    float: left;
    padding: 0.5rem;
    color: white;
    font-size: 1.3rem;
    width: 25%;
  }

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    
}

section {
    display: flex;
}

.promotion, .sections {
    background-color: #f4cf1490;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 20px;
}

.promotion h1 {
    text-align: center;
}

article {
    flex: 1;
    margin: 0.7rem;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer > div > img {
    width: 2rem;
}

.copyright {
    text-align: right;
    border-top: solid;
}