@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:"Poppins", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    color: #495e57;
}

h1 {
    font-size: 50px;
    padding: 1rem;
    color: #495e57;
}

h2 {
    font-size: 30px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

nav {
    background-color: #f3c922;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    padding-right: 1rem;
}

.nav-item a {
    text-decoration: none;
    color: #495e57;
    padding: 1rem 2rem;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
    padding: 0.5rem;
}

.nav-item:not(:first-child) a:hover {
    background-color: #495e57;
    color: whitesmoke;
    border-radius: 30px;
}

#logo {
    max-width: 20vh;
}

.section-first{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.promotion {
    max-width: 70vh;
    max-height: 70vh;
    /* background-color: #495e57; */
    padding: 2rem;
    color: black;
    text-align: center;
}

.promotion h1 {
    font-size: 50px;
    padding: 1rem;
    color: #495e57;
}

.main-bowl {
    max-width: 50vh;
    max-height: 50vh;
    border-radius: 30% 70% 56% 44% / 30% 30% 70% 70%;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
.main-bowl:hover {
    animation-name: example;
    animation-duration: 4s;
    animation-play-state: running;
}
      
@keyframes example {
    0% {border-radius: 30% 70% 56% 44% / 30% 30% 70% 70%;}
    33% {border-radius: 73% 27% 38% 62% / 31% 59% 41% 69%;}
    66% {border-radius: 84% 16% 64% 36% / 57% 59% 41% 43%;}
}

.scrolling-text-wrapper .scrolling-text {
    width: 200%;
    white-space: nowrap;
    animation-name: textScroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scrolling-text-wrapper {
    font-size: 4rem;
    overflow: hidden;
    margin: 5px 0;
    letter-spacing: 5px;
}

.stroked-text {
    color: white;
    text-shadow: -1px -1px 0 #495e57, 1px -1px 0 #495e57, -1px 1px 0 #495e57, 1px 1px 0 #495e57;
}

@keyframes textScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.section-three h1 {
    font-size: 50px;
    padding: 1rem;
    color: #495e57;
}

.pop-bowls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 13rem;
    margin: 3rem;
}

.bowl-desc {
    max-width: 50vh;
}

.bowl-desc p {
    margin-top: 2rem;
}

.best-selling > img {
    max-width: 50vh;
    border-radius: 100px;
}

.section-btn {
    margin: 2rem;
}

.section-btn a {
    text-decoration: none;
    background-color: #495e57;
    color: whitesmoke;
    border-radius: 30px;
    padding: 1rem 2rem;
}

.section-btn a:hover {
    color: #495e57;
    background-color: #f3c922;
}

.section-four h1 {
    text-align: center;
    font-size: 50px;
    padding: 1rem;
    color: #495e57;
    margin: 1rem;
}

.book-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 7rem 5rem 7rem;
}

.book-table  p {
    margin-bottom: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #495e57;
    margin: 2rem;
}

footer p {
    font-size: 13px;
}

footer img {
    max-height: 4rem;
    margin-top: 2rem;
}


/*  */
/* Menu Section */
/*  */


h1.menu-headding {
    text-align: center;
}

hr {
    height: 2px;
    background-color: #495e57;
    border-color: #495e57;
    margin: 0rem 5rem;
  }

h2.sub-headding {
    text-align: center;
    margin: 1rem;
}

.menu-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem;
    gap: 2rem;
}

.menu-items article {
    max-width: 40vh;
}

.left-menu h3, .middle-menu h3, .right-menu h3 {
    margin: 2rem;
    margin-left: 0rem;
}

/*  */
/* Book a Table Section */
/*  */


